BOT_TOKEN=

CHANNEL_USERNAME=@yotoua

TIMEZONE=Europe/Kyiv

MIN_INTERVAL_MINUTES=20

MAX_INTERVAL_MINUTES=90

QUEUE_TARGET_SIZE=3

STEAM_SCAN_LIMIT=2000

STEAM_ENRICH_LIMIT=40

MIN_FREE_REVIEW_PERCENT=65

HTTP_TIMEOUT_SECONDS=30

DB_PATH=data/dealbot.sqlite3

CARD_OUTPUT_DIR=output/cards

CARD_RENDERER_MODE=yoto_v4

CARD_RENDERER_FALLBACK_TO_LEGACY=1


IMAGE_PROVIDER_MODE=artwork_only
IMAGE_PIPELINE_VERSION=v1

COMFYUI_ENABLED=0
COMFYUI_URL=http://127.0.0.1:8188
